* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body{
    background-color: rgb(170, 170, 170);
}

header{
    background-color: #152180;
    color: #ffffff;
    padding: 14px 0;
    display: flex;
    border-bottom: 14px solid #323d8c8f;
    justify-content: center;
    font-style: italic;
}

h1{
    font-size: 28px;
}

h2{
    font-size: 16px;
    color: white;
    font-style: italic;
}

h3{
    margin-top: 8px;
}

header button{
    margin-left: 16px;
}

form{
    background-color: #152180;
    padding: 24px 0;
    text-align: center;
}

form h2{
    margin-bottom: 16px;
}

form input{
    width: 200px;
}

form input, 
form button{
    padding: 8px;
    margin: 6px;
}

button{
    background-color: #009432;
    color: #ffffff;
    padding: 6px;
    border: none;
    cursor: pointer;
}

.lista{
    width: 100%;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul li {
    max-height: 280px;
    max-width: 100%;
    margin: 10px 10px;
    list-style-type:none;
}

.tarefa{
    border-radius: 6px;
    background-color: rgb(239, 239, 221);
    padding: 8px;
}

.complete{
    text-decoration: line-through;
}